@import "tailwindcss";

@theme {
  --color-primary: rgb(209, 169, 99);
  --color-primary-light: #e3c987;
  --color-primary-dark: #b08a4d;

  --color-dark: rgb(19, 17, 18);
  --color-dark-light: #2a2729;

  --color-accent: rgb(172, 65, 67);
  --color-accent-light: #c96e6f;
  --color-accent-dark: #8b3233;

  --color-light: rgb(246, 246, 246);
  --color-olive: #5b532c;

  --font-sans: "Poppins", system-ui, sans-serif;
  --font-heading: "Montserrat", sans-serif;

  --gradient-gold: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-olive)
  );
  --gradient-red: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-accent)
  );
}

@layer utilities {
  .bg-gradient-gold {
    background: var(--gradient-gold);
  }

  .bg-gradient-red {
    background: var(--gradient-red);
  }

  .container {
    @apply mx-auto px-4 md:px-10;
    /* @apply mx-auto px-2 md:px-10 xl:px-20; */
  }

  .smooth-transition {
    @apply transition-all duration-300;
  }

  .border-color {
    @apply border-accent-light/20;
  }

  .border-color:hover {
    border-color: rgb(209, 169, 99);
  }
}

* {
  user-select: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s forwards;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-10%);
  }
}

.animate-slideDown {
  animation: slideDown 280ms cubic-bezier(0.22, 0.9, 0.3, 1) forwards;
}

.animate-slideUp {
  animation: slideUp 220ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
